<footer class="footer">
    <div class="container text-center">
        <span class="copyright">
            &copy; 2025 구내 식당 방명록. All rights reserved.
        </span>
    </div>
</footer>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</html>
